<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vet Project</title>
</head>

<!-- data tag in front of angular tags adds compatibility for screen readers
and improves the symantic score for google search priority -->

<body data-ng-app="vetApp">
  <main data-ng-controller="petsController" data-ng-init="getAll()">
    <h1>Welcome to the pet inventory.</h1>
    <section>
      <h2>Add a pet</h2>
      <form name="newPetForm" data-ng-submit="addPet(newPet)">
        <label for="petName">Pet Name:
          <input type="text" required data-ng-model="newPet.name">
          <br>
        </label>
        <label for="petType">Pet Type:
          <input type="radio" value="dog" data-ng-model="newPet.type">Dog
          <input type="radio" value="cat" data-ng-model="newPet.type">Cat
          <br>
        </label>
        <label for="petSize">Pet Size:
          <input type="radio" value="small" data-ng-model="newPet.size">Small
          <input type="radio" value="medium" data-ng-model="newPet.size">Medium
          <input type="radio" value="large" data-ng-model="newPet.size">Large
          <br>
        </label>
        <label for="petGender">Pet Gender:
          <input type="radio" value="male" data-ng-model="newPet.gender">Male
          <input type="radio" value="female" data-ng-model="newPet.gender">Female
          <br>
        </label>
        <label for="petColor">Pet Color:
          <input type="text" required data-ng-model="newPet.color">
        </label>
        <button type="submit">Submit</button>
      </form>
    </section>
    <p data-ng-if="!pets">No pets in data base</p>
    <form>
      <label>Search pet by Id</label>
      <input type="text" data-ng-model="searchId">
      <button data-ng-click="findOnePet(searchId)">Search</button>
    </form>
    <ul id="petlist">
      <li class="{{pet.status}}" data-ng-repeat="pet in pets">
        <span data-ng-if="!pet.editing">
          Name: {{pet.name}} Type: {{pet.type}} Size: {{pet.size}} 
          Gender: {{pet.gender}} Color: {{pet.color}} Id: {{pet._id}}
          <button data-ng-click="pet.editing = true">
            Edit
          </button>
          <button data-ng-click="removePet(pet._id)">Delete</button>
        </span>
        <form data-ng-if="pet.editing" name="{{'petForm' + pet._id}}"
          data-ng-submit="updatePet(pet); pet.editing = false">
          <label for="petName">Pet Name:
            <input type="text" required data-ng-model="pet.name">
            <br>
          </label>
          <label for="petType">Pet Type:
            <input type="radio" value="dog" data-ng-model="pet.type">Dog
            <input type="radio" value="cat" data-ng-model="pet.type">Cat
            <br>
          </label>
          <label for="petSize">Pet Size:
            <input type="radio" value="small" data-ng-model="pet.size">Small
            <input type="radio" value="medium" data-ng-model="pet.size">Medium
            <input type="radio" value="large" data-ng-model="pet.size">Large
            <br>
          </label>
          <label for="petGender">Pet Gender:
            <input type="radio" value="male" data-ng-model="pet.gender">Male
            <input type="radio" value="female" data-ng-model="pet.gender">Female
            <br>
          </label>
          <label for="petColor">Pet Color:
            <input type="text" required data-ng-model="pet.color">
          </label>
          <button type="submit">Submit</button>
        </form>
        <button data-ng-if="pet.editing" data-ng-click="pet.editing = false">
          X
        </button>
      </li>
    </ul>
  </main>
  <script src="bundle.js"></script>
</body>
</html>